.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.rotate {
  animation: rotation 2s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

header {
  text-align: right;
  height: 70px;
  background-color: lightblue;
}
.logo {
  height: 50px;
  width: 50px;
  display: block;
}

.sidebar {
  float: left;
}

.pokepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "side poke poke poke"
    "side poke poke poke"
    "side poke poke poke"
    "side poke poke poke"
    "side poke poke poke"
    "side poke poke poke"
    "side poke poke poke";
}
.sidebar { grid-area: side; }
.poke { grid-area: poke; }

